body{
    margin-top:20px;
    background:#eee;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom
}

.avatar i {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px
}

.avatar-online i {
    background-color: #4caf50
}

.avatar-off i {
    background-color: #616161
}

.avatar-busy i {
    background-color: #ff9800
}

.avatar-away i {
    background-color: #f44336
}

.avatar-100 {
    width: 100px
}

.avatar-100 i {
    height: 20px;
    width: 20px
}

.avatar-lg {
    width: 50px
}

.avatar-lg i {
    height: 12px;
    width: 12px
}

.avatar-sm {
    width: 30px
}

.avatar-sm i {
    height: 8px;
    width: 8px
}

.avatar-xs {
    width: 20px
}

.avatar-xs i {
    height: 7px;
    width: 7px
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid transparent;
}

#btn_shout {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: block;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    line-height: 35px;
    text-align: center;
}

#btn_shout:hover, #btn_shout:visited, #btn_shout:focus {
    text-decoration: none;
}

.shoutbox .help-block {
    display: none;
}

.list-message {
    max-height: 300px;
    min-height: 300px;
    overflow-y: scroll;
}

.m_name {
    font-weight: bold;
    font-size: 16px;
    color: #2e6da4;
}

.m_email {
    color: #8d8d8d;
    font-size: 13px;
}

.alert-success {
    display: none;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    float: left;
    margin: 8px 0 0 5px;
    display: none;
}

#btn_text_loading {
    display: none;
    text-decoration: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
